{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card mt-4" style="width: 50rem;">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
                    <h1>Obra</h1>
                    <h3>{{usuario.username}}</h3>
                </div>

                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <form action="{% url 'usuario_eliminar' usuario_id=user.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-warning">
                            <i class="fa-solid fa-trash-can" style="color: #ffffff;"></i>
                            <p style="color: #ffffff;"> Eliminar </p>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{error}}</li>
            <li class="list-group-item">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <form method="POST">
                        {% csrf_token %}

                        {{form.as_p}}
                        <button class="btn btn-primary">
                            <i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i>
                            Actualizar
                        </button>

                    </form>
                </div>
            </li>
            <li class="list-group-item">
                <a href="{% url 'usuarios' %}">
                    <button class="btn btn-outline-secondary">
                        <i class="fa-regular fa-hand-point-left" style="color: #808080;"></i> Volver
                    </button>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}